{{if env "TILT_MODE" }}
image:
  repository: 561876735341.dkr.ecr.us-east-1.amazonaws.com/retail-orders
  tag: latest
{{end}}

{{if env "RANDOM_PASSWORD" }}
postgresql:
  secret:
    password: {{ env "RANDOM_PASSWORD" | default "" }}
{{end}}